.PocketItem-styles-module_item__2EqeQ {
    color: black;
    border: 1px solid black;
    display: block;

    padding: 4px 8px;
  }
  .PocketItem-styles-module_item__2EqeQ > span {
    display: block;
  }

  .PocketItem-styles-module_itemTitle__1Y0M_ {
    font-weight: 600;
    flex-grow: 1;
    width: 100%;
  }

  .PocketItem-styles-module_itemExcerpt__21asC {
    font-weight: 300;
    line-height: 1.5;
    flex-grow: 1;
    width: 100%;
    color: var(--text-normal);
  }
.PocketItemList-styles-module_list__2MnxN {
    list-style-type: none;
  }

  .PocketItemList-styles-module_item__1WnQ- {
    margin: 8px;
  }
.Settings-styles-module_error__HuWlW {
    border-color: var(--background-modifier-error-hover) !important;
  }